<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/contacts">Contact</a></li>
		<!-- if we click on Contact link it will request /contacts to the server
		then server routing renders according to that request url -->
	</ul>
</nav>
